.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #1f1e1e;
}

.navbar {
  /* background-color: #2b2e2c; */

  /* background-color: #201e22; */
  background-color: #18171a;
  color: white;
  display: flex;
  height: 7vh;
  position: fixed;
  width: 100vw;
  box-shadow: 2px 2px 2px black;
}

.logo {
  position: relative;
  margin-block-start: auto;
  padding: 0.5rem;
}

.logo:hover {
  color: #1cd459;
}

.navbarLinks {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navbarItem {
  padding-left: 4rem;
  font-size: x-large;
  font-weight: 500;
}

.navbarItem:hover {
  color: #1cd459;
}

.loginButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.75rem;
  height: 5vh;
  border-radius: 10px;
  background-color: #3f4140;
  border: none;
  color: white;
  margin: auto 0;
  font-size: large;
  font-weight: bold;
  margin: 1rem;
}

.loginButton:hover {
  background-color: #474848
}

.signUpButton {
    padding: 0.75rem;
    height: 5vh;
    border-radius: 10px;
    background-color: #1cd459;
    border: none;
    color: white;
    margin: auto 0;
    font-size: large;
    font-weight: bold;
    margin: 1rem;
}

.signUpButton:hover {
  background-color: #19c252;
}

.navbarButtons {
  display: flex;
  position: absolute;
  right: 0;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 100vh;
  background-color: #222222;
  box-shadow: 1px 1px 1px black;
  color: white;
}

.categories {
  margin-top: 4rem;

}

.categoryTitle {
  color: #19c252;
  /* box-shadow: 1px 1px 1px black; */
}