.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #1f1e1e;
}

.navbar {
  /* background-color: #2b2e2c; */

  /* background-color: #201e22; */
  background-color: #18171a;
  color: white;
  display: flex;
  height: 7vh;
  position: fixed;
  width: 100vw;
  box-shadow: 2px 2px 2px black;
  z-index: 100;
}

.logo {
  position: relative;
  margin-block-start: auto;
  padding: 0.5rem;
}

.logo:hover {
  color: #1cd459;
}

.navbarLinks {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navbarItem {
  padding-left: 4rem;
  font-size: x-large;
  font-weight: 500;
}

.navbarItem:hover {
  color: #1cd459;
}

.loginButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.75rem;
  height: 5vh;
  border-radius: 10px;
  background-color: #3f4140;
  border: none;
  color: white;
  margin: auto 0;
  font-size: large;
  font-weight: bold;
  margin: 1rem;
}

.loginButton:hover {
  background-color: #474848
}

.signUpButton {
    padding: 0.75rem;
    height: 5vh;
    border-radius: 10px;
    background-color: #1cd459;
    border: none;
    color: white;
    margin: auto 0;
    font-size: large;
    font-weight: bold;
    margin: 1rem;
}

.signUpButton:hover {
  background-color: #19c252;
}

.navbarButtons {
  display: flex;
  position: absolute;
  right: 0;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 100vh;
  background-color: #222222;
  box-shadow: 1px 1px 1px rgb(57, 57, 57);
  color: white;
}

.categories {
  margin-top: 4rem;

}

.categoryTitle {
  color: white;
  margin-left: 0.5rem;
  /* box-shadow: 1px 1px 1px black; */
}

.popularStockNameContainer {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 3px rgb(57, 57, 57);
  padding: 0.25rem;
}

.popularStockName {
  padding: 0.5rem;
  font-size: large;
  font-weight: 500;
}

.popularStockName:hover {
  color:#1cd459;
}

.popularStockLogo {
  width: auto;
  height: auto;
  border-radius: 20px;
  padding: 0.25rem;
}

.stockPageContainer {
  display: flex;
}

.stockPrice {
  color: #1cd459;
  font-size: large;
  margin: 0.25rem;
  margin-right: 0.75rem;
  font-weight: bold;
}

.stockPriceActionPositive {
  display: flex;
  color: #1cd459;
  font-size: large;
  font-weight: bold;
}

.stockPriceActionNegative {
  display: flex;
  color: rgb(241, 52, 52);
  font-size: large;
  font-weight: bold;
}

.popularStockPriceActionContainer {
  margin: 0.25rem;
  margin-right: 0.5rem;
}

.percentChange {
  margin-left: 1rem;
}

.coinEmoji {
  width: auto;
  height: 4vh;
}

.chatRoomContainer {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  width: 25vw;
  position: fixed;
  right: 0;
  height: 100vh;

  box-shadow: -0.5px 0px 1px 1px rgb(57 57 57);
}

.welcomeMessage {
  color:white;
  font-size: large;
  font-weight: 500;
}

.messageContainer {
  margin-left: 1rem;
  margin-top: 1.5rem;
  height: 70vh;
  /* overflow-y: scroll; */
  color: white;
  overflow-wrap: break-word;
  word-break: break-word;
}

.chatRoomHeader {
  color: white;
  text-align: center;
  box-shadow: 0px 1px 3px rgb(57, 57, 57);
  margin-top: 4rem;
}

.sendMessageContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow:  0px -2px 0px rgb(57, 57, 57);
  padding: 1rem;
  z-index: 1;
  background-color: #222222;
}

.chatbar {
  width: 15vw;
  background-color:rgb(93, 93, 93);
  padding: 1rem;
  border-radius: 10px;
  /* border: 0.1px solid white; */
  border: none;
  margin-bottom: 2rem;
  margin-right: 2rem;
  z-index: 1000 !important;
  color: white;
}

.chatbar:focus {
  background-color:rgb(121, 121, 121);
  outline: 1px solid white;
  color: white;
}

.chatbar::placeholder {
  color: rgb(218, 214, 214);
  font-weight: bold;
}

.chatButton {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background-color: #1cd459;
  color: white;
  font-size: large;
  font-weight: bold;
  margin-right: 1rem;
}

.userMessage {
  display: flex;
  font-size: large;
}

.messageTime {
  position: absolute;
  right: 0;
  margin-right: 1rem;
  font-size: small;
  color:rgb(121, 121, 121)
}

.messageContent {
  margin-left: 0.5rem;
}

.redColor {
  color:rgb(241, 52, 52);
  font-weight: bold;
}

.greenColor {
  color:#1cd459;
  font-weight: bold;
}

.blueColor {
  color:#61dafb;
  font-weight: bold;
}

.purpleColor {
  color:rgb(119, 0, 255);
  font-weight: bold;
}


.messageContainerBlurred {
  filter: blur(4px);
  position: absolute;
}

.termsandagreements {
  filter: none;
}